@charset "UTF-8";
body {
  background-color: white;
}


h1 {
  color: #F89F83;
  front-size:72px;
  height: 50px;
  text-align:center;
  content-aligh:center;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

}

h2 {
  color: #F89F83;
  front-size:36px;
  margin-left: 100px;
  height: 20px;
  width: 50%;
  
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

}
p2 {
  text-align:center;
  front-size:20px;
  color:#F89F83;
  front-size:10px
  height: 10px;
  
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}



